a {
  color: hsl(236, 13%, 42%);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 1000px;
  white-space: nowrap;
  text-decoration: none;

}

.logo {
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  margin: 0 20% 0 140px;

}

.App-header {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  justify-content: space-around;
}

.navigation {
  float: left;
  text-align: center;
}

.navigation a:hover {
  color: hsl(5, 85%, 63%);
}

.navigation a:active {
  color: hsl(5, 85%, 63%);
}


@media screen and (max-width: 425px) {
  .App-header {
    display: none;
  }

}